.aside__top-image {
  height: 250px;
  width: 100%;
  margin-bottom: 53px;
  background-color: $ultra-light-gray-color;
}

.aside {
  width: 26%;
  margin-right: 4%;
  flex: none;
  display: block;
  min-width: fit-content;
  @media only screen and (max-width: $laptop) {
    & {
      background-color: $white-background-color;
      position: absolute;
      z-index: 3;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      padding-right: 15px;
      padding-top: 10px;
      filter: drop-shadow(1px 1px 1px $black-background-color);
      transform: translateX(-85%);
      transition: transform 250ms $standart-function;
      border-radius: 5px;
    }
    &.opened {
      left: 0;
      border: none;
      transform: translateX(0%);
    }
  }
  &__container {
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width: $desktop) {
      & {
        width: 100%;
      }
    }
  }
  &__list {
    margin-bottom: 60px;
  }
  &__item {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    width: 100%;
  }
  &__item-main {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
    color: $deep-aqua-color;
    letter-spacing: 0.11px;
    line-height: 18px;
    text-transform: none;
    & .aside__link:after {
      background: $orange-background-color;
      width: 100%;
    }
  }
  &__link {
    color: $deep-gray-color;
    letter-spacing: 0.07px;
    line-height: 16px;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    transition: all 250ms linear;

    width: 100%;
    text-transform: uppercase;
    &:hover {
      color: $white-color;
    }
    &:after {
      left: 0;
      top: 0;
      height: 100%;
      background: $aqua-background-color;
      content: '';
      position: absolute;
      transition: all 250ms linear;
      width: 0;
      z-index: -1;
      border-radius: 0 80px 0 0;
    }
    &:hover:after {
      width: 100%;
    }
    @media only screen and (max-width: $laptop) {
      & {
        padding-right: 40px;
      }
    }
  }
}

.aside-page {
  width: 70%;
  @media only screen and (max-width: $desktop) {
    & {
      padding-right: 5%;
    }
  }
  @media only screen and (max-width: $laptop) {
    & {
      width: 100%;
      padding-left: 10%;
    }
  }
  @media only screen and (max-width: $tablet) {
    & {
      padding-left: 15%;
    }
  }
  &__title {
    margin-bottom: 8px;
    font-size: 30px;
    color: $aqua-color;
    line-height: 1.5;
    filter: drop-shadow(3px 3px 3px $dark-orange-color);
  }
  &__breadcrumbs {
    &-p {
      font-size: 16px;
      letter-spacing: 0.09px;
      line-height: 1.71429;
      margin-bottom: 16px;
    }
    &-span {
      letter-spacing: 1px;
      color: $light-gray-color;
    }
    &-link {
      color: $black-color;
      letter-spacing: 1px;
      &:hover {
        color: $aqua-color;
      }
    }
  }
}
