.goTop {
  opacity: 0;
  position: sticky;
  margin: auto;
  bottom: 41px;
  z-index: 3;
  &__container {
    min-width: 1500px;
    display: flex;
    justify-content: flex-end;
  }
  &__image {
    background: $aqua-background-color;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    width: 48px;
    height: 48px;
    right: 48px;
    border-radius: 5px;
    border: 1px solid $aqua-background-color;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: $orange-background-color;
    }
  }
}
