.modal {
  &__overlay {
    display: none;
    background: rgba(0, 0, 0, 0.18);
    align-items: center;
    justify-content: center;
    transition: transform 400ms $standart-function;
    transform: translateY(60%) scale(0);

    transform: translateY(0) scale(1);
    display: flex;
    position: fixed;
    z-index: 9;
    min-height: 100vh;
    min-width: 100vw;
    left: 0;
    top: $top-desktop4k-indent;
    @media only screen and (min-width: $desktop) and (max-width: $desktop4k) {
      & {
        top: $top-desktop-indent;
      }
    }
    @media only screen and (min-width: $laptop) and (max-width: $desktop) {
      & {
        top: $top-laptop-indent;
      }
    }
    @media only screen and (min-width: $tablet) and (max-width: $laptop) {
      & {
        top: $top-tablet-indent;
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        top: $top-phone-indent;
      }
    }
  }
  &__container {
    max-width: 762px;
    width: 90%;
    background: $ultra-light-gray-background-color;
    padding: 30px;
    display: block;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px black);
  }
  &__title {
    font-size: 26px;
    letter-spacing: 0.19px;
    margin-bottom: 12px;
  }
  &__close {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 13;
    &-line {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $aqua-background-color;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      top: 11px;
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
  &__success {
    text-align: center;
    &-heading {
      font-size: 35px;
    }
    &-paragraph {
      font-size: 20px;
    }
  }
}

.modal-form {
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
  &__label {
    width: 100%;
    display: block;
    font-size: 20px;
    color: $light-black-color;
    margin-bottom: 14px;
    letter-spacing: 0.09px;
    &-req {
      color: red;
    }
  }
  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: 13px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: $black-color;
    letter-spacing: 0.14px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 95% center;
    margin-top: 5px;
  }
}
