$black-color: #000;
$black-background-color: #000;
$gray-color: #333;
$gray-background-color: #333;
$lightgray-color: #666;
$lightgray-background-color: #666;
$orange-color: #ff9900;
$orange-background-color: #ff9900;
$white-color: #fff;
$white-background-color: #fff;
$wheat-color: #fafafa;
$wheat-background-color: #fafafa;
$aqua-color: #0a5a6a;
$aqua-background-color: #0a5a6a;

$fadeInUp-function: cubic-bezier(0.19, 1, 0.22, 1);
$fadeInUp-duration: 1.5s;
