$black-color: #000;
$black-background-color: #000;
$half-black-background-color5: rgba(0, 0, 0, 0.5);
$half-black-background-color3: rgba(0, 0, 0, 0.3);
$half-black-background-color2: rgba(0, 0, 0, 0.2);
$half-black-background-color1: rgba(0, 0, 0, 0.1);
$lightblack-color: #1a1a1a;
$gray-color: #333;
$gray-background-color: #333;
$lightgray-color: #666;
$lightgray-background-color: #666;
$orange-color: #d8b511;
$orange-background-color: #d8b511;
// $orange-color: #cdad00;
// $orange-background-color: #cdad00;
// $orange-color: #b8860b;
// $orange-background-color: #b8860b;
// $orange-color: #cdba6d;
// $orange-background-color: #cdba6d;
$white-color: rgb(237, 245, 250);
$half-white-color7: rgba(255, 255, 255, 0.7);
$white-background-color: rgb(253, 255, 242);
$half-white-background-color5: rgba(255, 255, 255, 0.5);
$wheat-color: #fafafa;
$wheat-background-color: #fafafa;
$aqua-color: #323a43;
$aqua-background-color: #323a43;

$fadeInUp-function: cubic-bezier(0.19, 1, 0.22, 1);
$fadeInUp-duration: 1.5s;

// $orange-color: #ff9900;
// $orange-background-color: #ff9900;
// $white-color: #fff;
// $white-background-color: #fff;
// $aqua-color: #0a5a6a;
// $aqua-background-color: #0a5a6a;

$desktop4k: 2000px;
$desktop: 1124px;
$laptop: 850px;
$tablet: 480px;
$phone: 320px;
