.articles {
  &__container {
    @media only screen and (max-width: $desktop) {
      & {
        width: 100%;
        padding-right: $tablet-block-indent;
      }
    }
    @media only screen and (max-width: $laptop) {
      & {
        padding-left: $tablet-block-indent;
      }
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media only screen and (max-width: $laptop) {
      & {
        display: inline;
      }
    }
  }
  &__picture-box {
    visibility: visible;
    animation-name: fadeInUpBig;
    // opacity: 0;
    width: 45%;
    height: 600px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    min-width: 47%;
    &.inline {
      display: none;
      @media only screen and (max-width: $laptop) {
        & {
          display: block;
          height: 150px;
          height: auto;
        }
      }
      @media only screen and (max-width: 530px) {
        & {
          height: 180px;
        }
      }
      @media only screen and (max-width: $tablet) {
        & {
          height: 200px;
          width: 100%;
        }
      }
    }
    &.outer {
      display: flex;
      @media only screen and (max-width: $laptop) {
        & {
          display: none;
        }
      }
    }
  }

  &__wrapper {
    width: 53%;
    padding-left: 56px;
    z-index: 2;
    @media only screen and (max-width: $laptop) {
      & {
        width: 100%;
        padding: 0;
      }
    }
  }
  &__head {
    @media only screen and (max-width: $laptop) {
      & {
        display: flex;
        height: 150px;
      }
    }
    @media only screen and (max-width: 530px) {
      & {
        height: 180px;
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        display: block;
        height: auto;
      }
    }
  }
  &__list {
    @media only screen and (min-width: $tablet) and (max-width: $laptop) {
      & {
        padding-top: 10px;
      }
    }
  }
  &__title {
    visibility: visible;
    // opacity: 0;
    animation-name: fadeInUp;
    margin-bottom: 10px;
    animation-timing-function: $standart-function;
    animation-duration: $fadeInUp-duration;
    animation-fill-mode: both;
    @media only screen and (max-width: $laptop) {
      & {
        min-width: 50%;
        padding-left: 5%;
        height: 100px;
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        padding: 20px 0;
        text-align: center;
        height: auto;
        margin: 0;
      }
    }
  }
  &__text {
    opacity: 1;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.42105;
    letter-spacing: 0.12px;
    margin-bottom: 40px;
    @media only screen and (max-width: $laptop) {
      & {
        margin-top: 20px;
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        margin: 0;
      }
    }
  }
  &__item {
    margin-bottom: 35px;
    @media only screen and (max-width: $laptop) {
      & {
        margin-bottom: 15px;
      }
    }
    &-pre {
      width: 10%;
    }
    &-post {
      width: 10%;
    }
  }
  &__item-link {
    display: flex;
    align-items: center;
  }
  &__item-title {
    color: $gray-color;
    font-size: 16px;
    line-height: 1.625;
    width: 80%;
    @media only screen and (max-width: $tablet) {
      & {
        font-size: 14px;
      }
    }
    &:hover {
      color: $aqua-color;
    }
    &:hover + .projects__img-arrow {
      transform: translateX(10px);
      fill: $aqua-color;
    }
  }
  &__img-list {
    margin-right: 15px;
    width: 14px;
    height: 15px;
  }
  &__img-arrow {
    transition: transform 1s $standart-function, opacity 1s $standart-function, -webkit-transform 1s $standart-function;
    &:hover {
      transform: translateX(10px);
      fill: $aqua-color;
    }
  }
}
