.info {
  &__container {
    position: relative;
    max-width: 1015px;
    @media only screen and (min-width: $desktop4k) {
      & {
        max-width: 75vw;
      }
    }
    @media only screen and (max-width: $desktop) {
      & {
        margin-right: 0;
        margin-left: 50px;
      }
    }
    @media only screen and (max-width: $laptop) {
      & {
        margin: 0;
        padding: 0 $tablet-block-indent;
        width: 100%;
      }
    }
    // @media only screen and (min-width: $phone) and (max-width: $tablet) {
    //   & {
    //     padding: 0 $tablet-block-indent;
    //   }
    // }
  }
  &__photo-block {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  &__text-block {
    width: 50.04926%;
    padding-right: 67px;
    z-index: 2;
    @media only screen and (max-width: $desktop) {
      & {
        padding-right: 0;
        width: 51%;
      }
    }
    @media only screen and (max-width: $laptop) {
      & {
        width: 100%;
        margin-bottom: 30px;
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        margin-bottom: 30px;
      }
    }
  }
  &__heading-container {
    @media only screen and (max-width: $laptop) {
      & {
        display: flex;
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        flex-direction: column-reverse;
      }
    }
  }
  &__heading {
    visibility: visible;
    animation-name: fadeInUp;
    // opacity: 0;
    animation-timing-function: $standart-function;
    animation-duration: $fadeInUp-duration;
    animation-fill-mode: both;
    @media only screen and (max-width: $laptop) {
      & {
        margin-top: 30px;
        text-align: center;
        width: 50%;
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        width: 100%;
      }
    }
  }
  &__text-p {
    padding-right: 67px;
    z-index: 2;
    opacity: 1;
    font-size: 17px;
    letter-spacing: 0.09px;
    line-height: 1.71429;
    margin-bottom: 16px;
    @media only screen and (min-width: $desktop4k) {
      & {
        font-size: 27px;
      }
    }
    @media only screen and (max-width: $laptop) {
      & {
        padding-right: 0;
        text-align: justify;
        text-indent: $tablet-text-indent;
      }
    }
  }
  &__image-container {
    visibility: visible;
    animation-name: fadeInUpBig;
    // opacity: 0;
    top: 0;
    height: 100%;
    width: 45%;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    left: 50%;
    position: absolute;
    overflow: hidden;
    max-width: 48%;
    min-width: fit-content;
    &.inline {
      display: none;
    }
    @media only screen and (min-width: $laptop) and (max-width: $desktop) {
      & {
        height: 100%;
        top: 0px;
        width: 50%;
        left: 53%;
      }
    }
    @media only screen and (max-width: $laptop) {
      & {
        display: block;
        position: static;
        min-width: 100%;
        margin: auto;
        object-fit: cover;
        height: 200px;
        text-indent: $tablet-text-indent;
      }
    }
    @media only screen and (max-width: $laptop) {
      &.outer {
        display: none;
      }
      &.inline {
        display: flex;
        min-width: auto;
        max-width: 50%;
        width: 50%;
        height: 100px;
      }
    }
    @media only screen and (max-width: $tablet) {
      &.inline {
        min-width: 100%;
        height: 200px;
      }
    }
  }
  &__image-img {
    width: 100%;
    height: auto;
  }
}
