.seo {
  padding-top: 60px;
  padding-bottom: 90px;
  margin: 0;
  background-color: $wheat-background-color;
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    height: 138px;
    bottom: -138px;
    content: '';
    background-color: $wheat-background-color;
  }
  &__wrapper {
    height: 260px;
    overflow-y: auto;
  }
  &__heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.53333;
    margin-bottom: 23px;
  }
  &__heading2 {
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 1.2px;
    line-height: 36.8px;
    margin-bottom: 30px;
  }
  &__paragraph {
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0.09px;
    line-height: 1.71429;
    margin-bottom: 16px;
    color: $gray-color;
  }
  &__list {
    list-style: disc;
    padding-left: 20px;
    color: $lightgray-color;
    font-size: 14px;
    line-height: 1.71429;
  }
  &__span {
    font-weight: 400;
  }
  &__list-item {
    font-weight: 400;
    list-style: disc;
    padding-left: 20px;
    color: $lightgray-color;
    font-size: 14px;
    line-height: 1.71429;
  }
}
