.slider {
  display: block;
  width: 100%;
  min-height: calc(100vh - $top-desktop4k-indent);
  // margin-bottom: 60px;
  position: relative;
  overflow: hidden;
  @media only screen and (min-width: $desktop) and (max-width: $desktop4k) {
    & {
      min-height: calc(100vh - $top-desktop-indent);
    }
  }
  @media only screen and (min-width: $laptop) and (max-width: $desktop) {
    & {
      min-height: calc(100vh - $top-laptop-indent);
    }
  }
  @media only screen and (min-width: $tablet) and (max-width: $laptop) {
    & {
      min-height: calc(100vh - $top-tablet-indent);
    }
  }
  @media only screen and (max-width: $tablet) {
    & {
      min-height: calc(100vh - $top-phone-indent);
    }
  }

  &__backgrnd {
    min-height: calc(100vh - 95px);
    background: $aqua-background-color;
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    z-index: 2;
    @media only screen and (min-width: $desktop) and (max-width: $desktop4k) {
      & {
        min-height: calc(100vh - 115px);
      }
    }
    @media only screen and (min-width: $laptop) and (max-width: $desktop) {
      & {
        min-height: calc(100vh - 102px);
      }
    }
    @media only screen and (min-width: $tablet) and (max-width: $laptop) {
      & {
        min-height: calc(100vh - 81px);
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        min-height: calc(100vh - 77px);
      }
    }
  }
  &__image {
    position: absolute;
    display: block;
    min-height: 100%;
    width: 100%;
    visibility: visible;
    transition: height 0s, opacity 0.5s $standart-function;
  }
  &__image1 {
    z-index: 1;
    opacity: 1;
    height: 100%;
  }
  &__image2,
  &__image3 {
    opacity: 0;
    height: 0;
  }
  &__container {
    z-index: 2;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(2px 4px 6px $black-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @media only screen and (max-width: $tablet) {
      & {
        top: -50px;
      }
    }
  }
  &__heading {
    text-align: center;
    line-height: 1.4;
    max-width: 100%;
    color: $white-color;
    @media only screen and (min-width: $laptop) and (max-width: $desktop) {
      & {
        max-width: 693px;
      }
    }
    @media only screen and (max-width: $laptop) {
      & {
        text-align: center;
      }
    }
  }
  &__button {
    width: 46px;
    height: 46px;
    position: absolute;
    bottom: 50px;
    z-index: 500;
    background: $half-white-background-color5;
    transition: background 0.3s;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    &:hover {
      background-color: $wheat-background-color;
    }
    @media only screen and (min-width: $desktop4k) {
      & {
        font-size: 70px;
        width: 100px;
        height: 100px;
      }
    }
  }
  &__button.right {
    right: 0;
    z-index: 10;

    @media only screen and (max-width: $tablet) {
      & {
        right: 25%;
        bottom: 0px;
      }
    }
  }
  &__button.left {
    z-index: 10;
    right: 61px;
    @media only screen and (min-width: $desktop4k) {
      & {
        right: 161px;
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        right: initial;
        left: 25%;
        bottom: 0px;
      }
    }
  }
}

.form {
  &__line {
    display: flex;
    align-items: center;
    @media only screen and (max-width: $tablet) {
      & {
        display: block;
      }
    }
  }
  &__mask {
    position: relative;
    margin-right: 15px;
  }
  &__input {
    height: 80px;
    padding-left: 50px;
    border: 1px solid $white-color;
    border-radius: 4px;
    font-size: 35px;
    color: $white-color;
    background: $half-black-background-color5;
    direction: ltr;
    width: 600px;
    &::placeholder {
      color: $white-color;
    }
    @media only screen and (min-width: $desktop) and (max-width: $desktop4k) {
      & {
        height: 60px;
        font-size: 30px;
        width: 600px;
      }
    }
    @media only screen and (min-width: $laptop) and (max-width: $desktop) {
      & {
        height: 60px;
        font-size: 28px;
        padding-left: 30px;
        width: 330px;
      }
    }
    @media only screen and (max-width: $laptop) {
      & {
        font-size: 21px;
        height: 50px;
        width: 250px;
        padding-left: 25px;
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        font-size: 20px;
        width: 260px;
        padding-left: 20px;
        display: flex;
        margin: 20px auto;
      }
    }
  }

  &__submit-bg {
    position: relative;
    border-radius: 6px;
    max-width: 251px;
    height: 80px;
    min-width: fit-content;
    background: $orange-background-color !important;
    overflow: hidden;
    @media only screen and (min-width: $desktop) and (max-width: $desktop4k) {
      & {
        height: 60px;
        // width: 250px;
      }
    }
    @media only screen and (min-width: $laptop) and (max-width: $desktop) {
      & {
        height: 60px;
        width: 250px;
      }
    }
    @media only screen and (max-width: $laptop) {
      & {
        width: 170px;
        height: 50px;
      }
    }
    @media only screen and (max-width: $tablet) {
      & {
        margin: auto;
      }
    }
    &:hover:after {
      height: 600%;
    }
    &:after {
      content: '';
      width: 100%;
      height: 0;
      top: 50%;
      left: 50%;
      background: $aqua-background-color;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      position: absolute;
      transition: all 0.4s;
    }
    &:hover .form__submit-btn {
      color: $white-color;
      z-index: 5;
    }
  }
  &__submit-btn {
    background: transparent;
    padding: 19px 15px;
    font-size: 32px;
    border-radius: 8px;
    transition: 0.25s;
    // width: 460px;
    width: auto;

    cursor: pointer;
    font-weight: 600;
    color: $white-color !important;
    border: 1px solid $orange-background-color !important;
    @media only screen and (min-width: $desktop) and (max-width: $desktop4k) {
      & {
        padding: 5px 22px;
        font-size: 20px;
        width: 250px;
      }
    }
    @media only screen and (min-width: $laptop) and (max-width: $desktop) {
      & {
        padding: 5px 22px;
        // padding: 5px 15px;
        font-size: 20px;
        width: 250px;
      }
    }
    @media only screen and (max-width: $laptop) {
      & {
        width: 170px;
        font-size: 15px;
        padding: 5px 8px;
        // padding: 5px 1px;
      }
    }
  }
}
